<div class="show-cards">

  <h1>MOVIE LIST'S</h1>

  <% @lists.each do |list| %>
    <div class="cards">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(
      <%if list.photo.attached? %>
        <%= cl_image_path(list.photo.key) %>
      <% else  %>
        <%= asset_path 'moviebg.jpg' %>
      <% end %>);">
        <%= link_to list.name, list_path(list) %>
      </div>
    </div>
  <% end %>

   <%= link_to "New List", new_list_path, class: "btn btn-primary" %>
</div>
