// Specific CSS for your home-page
.title-home {
  color: rgb(15, 100, 245);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.home-appear {

}


.title-img img {
  width: 500px;
}
